/* Опишите в этом файле все keyframes для проекта и стили анимаций иконки Like.

Будьте внимательны! Для корректной работы скриптов на этом сайте нужно, чтобы в HTML некоторые классы были названы особым образом:
✦ theme-dark — класс тёмной темы
✦ theme-light — класс светлой темы
✦ like-icon — для svg-иконки анимированного сердца
✦ card__like-button — для кнопки Like рядом с иконкой
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ card__icon-button — для кнопки, оборачивающей иконку
✦ is-liked — для обозначения состояния лайкнутой иконки в виде сердца
✦ button__text — для обозначения текстового элемента внутри кнопки

Кроме этого, не меняйте HTML переключателя тем. Его разметка также гарантирует работу своего скрипта.
*/

@keyframes arrow {
  0% {
    transform: translateX(0);
  }
  100% {
    transform: translateX(4px);
  }
}

@keyframes like-unlike {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(1.5);
  }
}

@keyframes sparks-boom {
  0% {
    fill: transparent;
  }
  100% {
    fill: var(--heart-main-color);
  }
}

.like-icon {
  block-size: 34px;
}

.like-icon:hover .core,
.like-icon:hover .main-body {
  fill: var(--heart-secondary-color);
}

.like-icon:active .core,
.like-icon:active .main-body {
  fill: var(--heart-main-color);
}

.like-icon.is-liked .contour,
.like-icon.is-liked .core,
.like-icon.is-liked .main-body {
  fill: var(--heart-main-color);
}

.like-icon.is-liked .heart {
  transform-origin: center;
  animation: like-unlike 0.3s ease-in 0.1s;
}

.like-icon.is-liked .sparks {
  transform-origin: center;
  animation: sparks-boom 0.3s ease-in 0.3s alternate;
}