/* В этом файле будут храниться все значения переменных в исходном состоянии, а так же их изменения в зависимости от ширины устройства */

:root {
  /* Типографика */
  --main-font: 'Inter-Variable';
  --accent-font: 'PressStart2P';
  --font-size: 18px;
  --font-weight-regular: 'wght' 400;
  --font-weight-bold: 'wght' 700;
  --accent-font-size: 14px;
  --accent-font-weight: 400;

  /* Тема */
  --main-color: #000;
  --secondary-color: #fff;
  --bg-image: repeating-linear-gradient(#d3d3d3 0 2px, transparent 2px 4px),
    repeating-linear-gradient(90deg, #d3d3d3 0 2px, transparent 2px 4px),
    linear-gradient(#e7e7e7 0.01%, #1a1a1a);
  --text-stroke-color: #fff;
  --heart-main-color: #ff0000;
  --heart-secondary-color: #000;
  --accent-color: #fff;

  /* Размеры */
  --card-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --logo-size: clamp(3.063rem, 1.502vw + 2.71rem, 4.063rem);
  --title-size: clamp(0.875rem, 0.845vw + 0.677rem, 1.438rem);
  --header-padding: clamp(7.5rem, 1.502vw + 7.148rem, 8.5rem);
  --card-image-size: clamp(23.438rem, 30.516vw + 16.285rem, 43.75rem);
  --like-button-inline-size: clamp(8.125rem, 0vw + 8.125rem, 8.125rem);
  --like-button-block-size: clamp(2.5rem, 0vw + 2.5rem, 2.5rem);
  --save-button-inline-size: clamp(19.375rem, 2.817vw + 18.715rem, 21.25rem);
  --save-button-block-size: clamp(3.438rem, -2.723vw + 5.888rem, 5.25rem);
  --dialog-inline-size: clamp(21.313rem, 1.502vw + 20.96rem, 22.313rem);
  --dialog-block-size: clamp(12.188rem, -0.188vw + 12.232rem, 12.063rem);
  --dialog-button-inline-size: clamp(15.75rem, 3.474vw + 14.936rem, 18.063rem);
}
